FYP/
**/__pycache__/
**/*.pyc
**/*.pyo

**/node_modules/
**/.npm/
**/.cache/
**/dist/
**/build/
**/coverage/

**/*.log
**/logs/

**/*.db-wal
**/*.db-shm

**/.env
**/.env.local
**/.env.*.local

.DS_Store
Thumbs.db
